{% extends 'base.html' %}
{% load static %}


{% block csslist %}
<link rel="stylesheet" href='{% static "tomato_disease_info_app/css/info.css" %}'> 
{% endblock %}

{% block title %}토마토질병 - 점무늬병{% endblock%}

{% block content %}

<div class="main_field">
    <div class="disease-main-content">
        <div class="photoSch">
								<table class="gridPhoto" id="oInputTable"><!-- 스타일제거시 테이블형태 유지를 위해 보더를 준다 -->
								<colgroup>
									<col width="200px">
									<col width="120px">
									<col width="*">
								</colgroup>
								<tbody>
									<tr>
										<td rowspan="4">
										<img width="200" height="200" src="{%static 'images/disease_info/cat1/cat1_1.jpg' %}">
										</td>
										<td><span class="titlePhoto">한글명</span></td>
										<td>궤양병</td>
									</tr>
									<tr>
										<td><span class="titlePhoto">한문명</span></td>
										<td>潰瘍病</td>
									</tr>
									<tr>
										<td><span class="titlePhoto">영문명</span></td>
										<td>Bacterial canker</td>
									</tr>
									<tr>
										<td><span class="titlePhoto">작물명</span></td>
										<td>토마토</td>
									</tr>
								</tbody>
								</table>
								
							</div>
        
        <ul>
            <li class="disease_title">
                <h4> 토마토 질병 도감</h4>
            </li>
            <li id=info1>
                <h3></h3>
                <div>토마토의 병충해 종류와 정보를 알려드립니다.</div>
            </li>
            <li>
                <div>
                    내용
                </div>
            </li>
        </ul>
    </div>
</div>


{% endblock %}
