{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}
{% block csslist %}
<link rel="stylesheet" href='{% static "tomato_disease_info_app/css/info.css" %}'>
{% endblock %}

{% block title %}토마토질병 - 점무늬병{% endblock%}

{% block content %}

<div class="main_field">
	<ul>
		<li>
			<div class="disease-main-content">
				<div class="photoSch">
					<table class="gridPhoto" id="oInputTable">
						<!-- 스타일제거시 테이블형태 유지를 위해 보더를 준다 -->
						<colgroup>
							<col width="200px">
							<col width="120px">
							<col width="*">
						</colgroup>
						<tbody>
							<tr>
								<td rowspan="4">
									<img width="200" height="200"
										src="{%static 'images/disease_info/cat1/cat1_1.jpg' %}">
								</td>
								<td><span class="titlePhoto">한글명</span></td>
								<td>궤양병</td>
							</tr>
							<tr>
								<td><span class="titlePhoto">한문명</span></td>
								<td>潰瘍病</td>
							</tr>
							<tr>
								<td><span class="titlePhoto">영문명</span></td>
								<td>Bacterial canker</td>
							</tr>
							<tr>
								<td><span class="titlePhoto">작물명</span></td>
								<td>토마토</td>
							</tr>
						</tbody>
					</table>
		</li>

		<li>
			<ul>
				<li class="disease_title">
					<h4> 병원체 정보</h4>
				</li>
			</ul>
			<ul>
				<li id=info1>
					<h3></h3>
					<h5>병원체명<h5>
				</li>
			</ul>
			<ul>
				<li class=article>

				</li>
				<li class="article">
					<a href="#none" onclick="javascript:$('#pthgoView1').toggle();">
						ㆍ<strong
							class="gray pthgoganGensStrong"><i>Ralstonia&nbsp;solanacearum</i>&nbsp;&nbsp;&nbsp;(Smith)
							Yabuuchi et al.</strong>
					</a>
					<a href="#none" onclick="javascript:$('#pthgoView1').toggle();" style="font-weight: bold;">&nbsp;
						<img alt="더보기" src="/images/main/btn_more.gif" style="vertical-align: middle;">더보기
					</a>



					<br>




					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<strong class="gray">[=<i>Burkholderia&nbsp;solanacearum</i>&nbsp;&nbsp;&nbsp;(Smith) Yabuuchi et
						al. ]</strong><br>



					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<strong class="gray">[=<i>Pseudomonas&nbsp;solanacearum</i>&nbsp;&nbsp;&nbsp;(Smith) Smith
						]</strong><br>




					<div class="add_text mt10" style="clear: both; display: none;" id="pthgoView1">
						<p class="gray">
							<strong>병원체 특징</strong><br> 그램음성의 간상세균으로 호기성이며, 수 개의 편모를 가지고 있고, 운동성이 있다. 세포의 크기는
							0.5～0.7×1.5～2.0㎛이다. King's B 배지에서 형광을 띠지 않는다. 생육적온은 34℃이다.<br>
						</p>
					</div>


				</li>
			</ul>
			<ul>
				
				<li>	
					<h4>일반정보</h4>
					<h5>발생환경</h5>
				</li>
					<li class="article">
						병원균은 토양내에서 수 년간 생존할 수 있으며, 병든 식물체의 잔재속에서 겨울을 지낸다. 주로 식물의 지하부에 생겨난 상처를 통해 침입하지만, 간혹 지상부의 조직에 생긴 상처를 통해 침입한다. 병원균은 농기구, 곤충 및 인축에 의해 전반된다. 고온,다습한 조건에서 급격히 발생한다.
					</li>
				
			</ul>
			<ul>
				<li>
					<h5>증상설명</h5>
				</li>
				<li class="article">
					
				</li>
			</ul>

		</li>
	</ul>
</div>
</div>
</div>


{% endblock %}