{% extends 'base.html' %}
{% load static %}
{% block csslist %}
<link rel="stylesheet" href='{% static "accounts/css/signIn.css" %}'>
{% endblock %}

{% block title %}회원가입{% endblock %}

{% block content %}
<article>
    <div class="register-box">{% csrf_token %}
        <form action="" method="POST" class="registerform">{% csrf_token %}
            {{signup_form}}
            <div class="submit-register"><input type="submit" value="회원가입"></div>
        </form>
    </div>
</article>
{% endblock %}