{% extends 'base.html' %}
{% load static %}
{% block csslist %}
<link rel="stylesheet" href='{% static "accounts/css/signIn.css" %}'>
{% endblock %}

{% block title %}회원가입{% endblock %}

{% block content %}
<article>
    <div class="register-box">
        <form action="" method="POST" class="registerform">{% csrf_token %}
            {% for field in form %}
            <div>
                {{field.label_tag}} {{field}}
            </div>
            {% endfor %}

            <div class="submit-register"><input type="submit" value="로그인"></div>
        </form>
    </div>
</article>
{% endblock %}